# Зависимости
node_modules/
.pnp
.pnp.js

# Сборки Electron и React
dist/
dist_electron/
build/
out/
*.exe
*.dmg
*.AppImage

# Переменные окружения и логи
.env
.env.local
*.log

# Базы данных (SQLite)
*.db
*.db-journal
*.sqlite

# Системные файлы
.DS_Store
Thumbs.db
